$mat-gold: #ffd740;
$fore-color: lighten(lightgray, 8%);
$back-color: darken(darkgray, 30%);

$header-backcolor:  darken(darkgray, 50%);
$light-backcolor: lighten(lightgrey, 12%);
$dark-backcolor: #434343;
$indent: 20px;
$navbar-height: 50px;

.pointer {
  cursor: pointer;
}

.clickable:hover {
  cursor: pointer;
}

.disabled {
  opacity: 0.4;
}

.indent {
  margin-left: $indent;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rowfull {
  @extend .row;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
}

.colfull {
  @extend .col;
  justify-content: space-between;
}

.colcenter {
  @extend .col;
  align-items: center;
}

.w100 {
  width: 100%;
}
