<div #dropTarget fileDrop 
    (filesDropped)="dropped($event)" (filesHovered)="isFileHover = $event"
    [ngClass]="{'dropborder': isFileHover}"
    class="playbox">

  <div *ngIf="!playItems" class="drophere rowfull">
    <h3>Drop audio files here or click this button:</h3>
    <button mat-fab (click)="fileInput.click()">
      <mat-icon aria-label="Pause">playlist_add</mat-icon>
    </button>
  </div>

  <player *ngIf="playItems" #player [playitems]="playItems" (upload)="fileInput.click()"></player>

  <input type="file" style="display:none;" #fileInput (change)="upload(fileInput.files)" multiple/>

  <span *ngIf="!playItems" class="version">v1.0</span>
</div>
